header {
  background-image: url(../img/bannerheader2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.borderNav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 0 2px 5px;
}
.borderNav .navegador {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.borderNav .navegador .loscontiene {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.borderNav .navegador .loscontiene .logo {
  height: 8rem;
  width: 8rem;
}
.borderNav .navegador .loscontiene .linkLogo {
  color: black;
  font-family: "Indie Flower", cursive;
  font-size: 1.5em;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.borderNav .navegador .navegadorDos {
  width: 100%;
  justify-content: center;
}
.borderNav .navegador .navegadorDos .listado {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}
.borderNav .navegador .navegadorDos .itemsNav {
  width: 30%;
  height: 2rem;
  border-left: 1px solid black;
  background-image: linear-gradient(to top, rgb(82, 81, 81), rgb(128, 128, 128));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.borderNav .navegador .navegadorDos .itemsNav .letra {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0;
}
.borderNav .navegador .navegadorDos .itemsNav:hover {
  transform: scale(1.1, 1.1);
  background-image: linear-gradient(to top, rgb(43, 40, 40), rgb(128, 128, 128));
  border: none;
}

.salidas {
  border-right: 1px solid black;
}

footer {
  border-top: 2px solid rgb(230, 185, 119);
  border-bottom: 2px solid black;
  background-image: linear-gradient(to top, rgb(128, 125, 125), rgba(128, 128, 128, 0.2));
}
footer ul {
  border-bottom: 2px solid rgb(197, 187, 187);
}
footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgb(197, 196, 196);
}

.textFooter {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgb(197, 196, 196);
}

.textFooter:hover {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 1.1rem;
}

.recuadro {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: rgba(128, 128, 128, 0.8);
}

.recuadro label {
  text-transform: uppercase;
  margin: 10px 0px 3px 0px;
}

.recuadro input {
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 75%;
}

#legend {
  margin-left: 10px;
}

.colorText {
  color: white;
}

textarea {
  resize: none;
}

#legend {
  color: white;
  text-shadow: 1.5px 1.5px 3px black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.boton {
  border-radius: 3px;
  margin-top: 0.5rem;
}

fieldset label {
  font-weight: bold;
}

.fieldset {
  border: 5px solid black;
  box-shadow: 3px 3px 2px;
}

.imgFondo {
  background-image: url(../img/fondoForm.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

.cardSalidas {
  margin: 0 0.5rem;
  border-radius: 10px;
  border: 3px solid gray;
}
.cardSalidas .imgCardSalidas {
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 3px 3px 2px black;
}

.fondoCarousel {
  box-shadow: 2px 3px 3px;
  display: flex;
  justify-content: center;
  width: 95%;
  padding-bottom: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.fondoCarousel .margenesCarousel {
  padding-left: 2%;
  padding-right: 2%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondoCarousel .imgCarousel {
  border-radius: 20px;
}

.bienvenidos {
  background-image: url(../img/fondoiBicicletas2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 0;
  padding: 3rem 2rem;
  background-color: rgb(235, 234, 234);
  text-align: center;
  color: rgb(0, 0, 0);
  border-bottom: 0.3rem solid black;
  border-top: 0.3rem solid black;
  text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

@media (max-width: 988px) {
  body {
    font-size: 12px;
  }
  .logo {
    width: 5rem;
    height: 5rem;
  }
}
body {
  background-color: rgb(230, 186, 137);
}

/*# sourceMappingURL=style.css.map */
