footer{
    border-top: 2px solid rgb(230, 185, 119);
    border-bottom: 2px solid black;
    background-image: linear-gradient(to top, rgb(128, 125, 125), rgba(128, 128, 128, 0.2));

}

footer ul{
    border-bottom: 2px solid rgb(197, 187, 187);
}
.textFooter{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}