.recuadro {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgba(128, 128, 128, 0.8);
}   label {
    text-transform: uppercase;
    margin: 10px 0px 3px 0px;
}   input {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 75%;
}


.colorText{
    color: white;
}

textarea{
    resize: none;
}

#legend {
    margin-left: 10px;
    color: white;
    text-shadow: 1.5px 1.5px 3px black;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.boton {
    border-radius: 3px;
    margin-top: 0.5rem;
}

fieldset label {
    font-weight: bold;
}

.fieldset {
    border: 5px solid black;
    box-shadow: 3px 3px 2px;
}

.imgFondo {
    background-image: url(../img/fondoForm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
}
