@media (max-width: 988px){
    body{
        font-size: 12px;
    }
    .logo{
        width: 5rem;
        height: 5rem;
    }
}

@media (min-width: 987px){
    .itemsNav{
        width: 30%; 
    }
}