@import "variables", "mixin", "header","footer", "formulario", "cards", "home", "mediasq";

body {
    background-color: rgb(230, 186, 137);
}




.promosBici{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselPromos{
    
    background-color: blue;
}
.textPromos{
    width: 50%;
    background-color: hotpink;
}

.imgPromos{
    background-color: green;
    width: 50%;
    height: 50%;

}